@page
@model W02_EF.Pages.EmployeesModel
@{
    ViewData["Title"] = "Employees";
}

<h1 class="mb-3">Employees</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>EmployeeId</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>DepartmentId</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var e in Model.Employees)
    {
        <tr>
            <td>@e.EmployeeId</td>
            <td>@e.FirstName</td>
            <td>@e.LastName</td>
            <td>@e.DepartmentId</td>
        </tr>
    }
    </tbody>
</table>
