@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3">Razor Pages with DB</h1>
    <h3>Week 3 Extra Hour</h3>
    <h3>@ViewData["Name"]</h3>
</div>
